// Components Style
.navbar {
  @apply flex items-center justify-between w-full container py-6 z-50;

  img {
    @apply w-16 sm:w-20;
  }
}

.ourwork-collection {
  @apply grid grid-cols-12 container gap-0 md:gap-20;

  h1 {
    @apply font-semibold text-2xl md:text-4xl z-10 text-dark-green;
  }

  a {
    @apply text-xl my-4 inline-block text-ourwork-link;
  }

  p {
    @apply text-ourwork-description;
  }

  .union {
    @apply h-8 md:h-union w-8 md:w-union bg-union absolute -top-2 md:-top-6 -left-4 md:-left-8;
  }

  .ourwork-collection-image {
    @apply col-span-12 md:col-span-6 mb-6 sm:mb-12;

    img {
      @apply filter drop-shadow-ourwork-left;
    }
  }

  .ourwork-collection-text {
    @apply col-span-12 md:col-span-6 relative mb-6 sm:mb-0;
  }
}

.join {
  @apply my-12 md:my-32 relative text-center text-dark-green;

  h1 {
    @apply font-semibold text-2xl md:text-4xl mb-6;
  }

  button {
    @apply px-8 py-2 mt-10 bg-light-green hover:bg-light-green-hover text-white rounded-full duration-200;
  }

  .dot-top {
    @apply hidden md:block absolute -top-12 -right-32 w-dot h-dot bg-no-repeat bg-dot bg-contain;
  }

  .dot-bottom {
    @apply hidden md:block absolute -bottom-12 -left-20 w-dot h-dot bg-dot bg-no-repeat bg-contain;
  }
}

.team-1 {
  @apply hidden md:inline-block transform;
}

.team-2 {
  @apply hidden md:inline-block transform;
}

.team-3 {
  @apply hidden md:inline-block transform;
}

.team-4 {
  @apply hidden md:inline-block transform;
}

.team:hover {
  .team-1 {
    @apply translate-y-4 translate-x-5;
  }
  .team-2 {
    @apply translate-y-8.5 -translate-x-5;
  }
  .team-3 {
    @apply translate-y-10.5 translate-x-5;
  }
  .team-4 {
    @apply -translate-y-6 -translate-x-5;
  }
}

.slider-next {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  @apply w-10 h-10 px-4 rounded-full flex items-center justify-center absolute -bottom-14 cursor-pointer duration-200 transform hover:scale-105;
  right: 360px;
}

.slider-prev {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  @apply w-10 h-10 px-4 rounded-full flex items-center justify-center absolute -bottom-14 cursor-pointer duration-200 transform hover:scale-110;
  left: 360px;
}

// Home View Style
.home {
  // Hero Style
  .hero {
    @apply grid grid-cols-12 container sm:pb-20 h-hero items-center;

    .hero-text {
      @apply col-span-12 md:col-span-6;

      .hero-text-title {
        h1:nth-child(1) {
          @apply text-3xl md:text-5xl text-dark-green font-semibold;
        }

        h1:nth-child(2) {
          @apply font-montserrat text-light-green text-3xl md:text-5xl font-semibold mt-2 md:mt-6;
        }
      }

      p {
        @apply my-4 md:my-8 text-dark-green opacity-80;
      }

      .hero-text-button {
        @apply flex;

        button:nth-child(1) {
          @apply px-4 md:px-8 py-2 border border-transparent duration-200 bg-light-green hover:bg-light-green-hover text-white rounded-full;
        }

        button:nth-child(2) {
          @apply px-4 md:px-8 py-2 border duration-200 border-light-green hover:border-light-green-hover hover:text-light-green-hover text-light-green rounded-full ml-8;
        }
      }
    }

    .hero-image {
      @apply col-span-12 md:col-span-6 self-start md:self-center mt-10 md:mt-0 relative;

      img {
        @apply ml-auto;
      }
    }
  }

  // Greeting Style
  .greeting {
    @apply w-full container my-12 md:my-32 bg-top bg-greeting bg-cover bg-no-repeat md:bg-none;

    .greeting-content {
      @apply flex flex-col justify-center text-center bg-none bg-top md:bg-greeting bg-contain bg-no-repeat text-dark-green h-mobileGreeting md:h-greeting;

      h1 {
        @apply font-semibold text-4xl;
      }

      .greeting-content-description {
        @apply md:px-44;

        span {
          @apply font-semibold;
        }

        p {
          @apply text-xs md:text-lg;
        }

        p:nth-child(1) {
          @apply my-4 md:my-10;
        }
      }
    }
  }

  // Service Style
  .service {
    @apply my-12 md:my-32;

    h1 {
      @apply font-semibold text-xl md:text-4xl text-center text-dark-green;
    }

    .service-bg-circle-top {
      @apply hidden md:block h-circle w-circle bg-circle absolute top-0 right-40;
    }

    .service-bg-circle-bottom {
      @apply hidden md:block h-circle w-circle bg-circle absolute bottom-0 left-40;
    }

    .service-collection {
      @apply grid grid-cols-12 px-6 md:px-44 py-5 justify-items-center gap-4 md:gap-16 my-6 md:my-14 relative;

      h1 {
        @apply text-left text-black my-4 font-semibold text-base;
      }

      p {
        @apply text-sm opacity-60;
      }

      .service-collection-web {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-web shadow-service;
      }

      .service-collection-mobile {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-mobile shadow-service;
      }

      .service-collection-ui {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-ui z-20 shadow-service;
      }

      .service-collection-machine {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-machine z-20 shadow-service;
      }

      .service-collection-automation {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-automation shadow-service;
      }

      .service-collection-branding {
        @apply col-span-12 sm:col-span-4 px-5 md:px-9 py-6 md:py-14 bg-white rounded-2xl md:rounded-branding shadow-service;
      }
    }
  }

  // OurWork Style
  .ourwork {
    @apply my-12 md:my-32;

    .ourwork-title {
      @apply text-4xl text-center font-semibold text-dark-green my-20;
    }

    .ourwork-button {
      @apply px-12 py-4 mx-auto md:mb-16 duration-200 bg-light-green hover:bg-light-green-hover text-white rounded-full block font-semibold filter drop-shadow-ourwork-button;
    }
  }

  .section-testimonial {
    @apply container my-12 sm:my-32;

    .testimonial-heading {
      h1 {
        @apply text-dark-green font-semibold text-2xl lg:text-4xl;
      }

      h2 {
        @apply text-dark-green font-semibold mb-2 text-xl lg:text-3xl opacity-50;
      }

      @apply mb-20 text-center;
    }

    .testimonial-content {
      @apply lg:mx-36 gap-10 relative;

      .-z-999 {
        z-index: -999;
      }

      .testimonial {
        box-shadow: 2.30512px 2.30512px 11.5256px 2.30512px rgba(0, 0, 0, 0.25);

        @apply px-5 pt-7 pb-14 text-center bg-white z-30 rounded-3xl duration-200 transform hover:scale-105 cursor-pointer;
      }
    }
  }
}

// Contact View Style
.contact-page {
  .contact-page-content {
    @apply container py-6 w-full items-center justify-between grid grid-cols-12;

    .contact-page-content-image {
      @apply col-span-12 md:col-span-6 order-1 md:order-2;

      img {
        @apply w-4/5 ml-auto;
      }
    }

    .contact-page-content-form {
      @apply col-span-12 md:col-span-6 order-2 md:order-1 text-dark-green;

      h1 {
        @apply font-bold text-2xl md:text-5xl mt-4 mb-4 md:mt-0 md:mb-16;
      }

      form {
        @apply grid grid-cols-12 gap-5;

        label {
          @apply text-xl md:text-3xl;
        }

        input,
        textarea {
          @apply block w-full py-2 md:py-3 bg-transparent border-b border-light-green outline-none;
        }

        .contact-page-content-form-input {
          @apply col-span-12 md:col-span-6;
        }

        .contact-page-content-form-textarea {
          @apply col-span-12;
        }

        .contact-page-content-form-button {
          @apply col-span-12;

          button {
            @apply px-14 py-2 bg-light-green hover:bg-light-green-hover text-white rounded-full;
          }
        }
      }
    }
  }
}
